name: Format

on:
  pull_request:
    branches:
      - main
      - master

jobs:

  formatting:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # v2 minimum required
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace"
          # Recommended if you use MacOS:
          # github-token: ${{ secrets.GITHUB_TOKEN }}
